@import '../../../Global/Variable.scss';
// body{
//     background: #f5f8f0;
//   }
@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent-cart{
    min-height:900px;
    background:$primary-color;
    .Back-Front-btn {
        @include display;
        justify-content: space-between;
        width: 90%;
        // border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        Button{
            border: 2px solid $blue-color;
            color:$blue-color;
            margin-top: 1rem;
        }
        Button:hover{
            border: 2px solid $blue-color;
            color:$blue-color !important;
           background: transparent!important;
        }
    }

    .cart-wrapper{
        @include display;
        .cart-wrapper-child{
          
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: flex-start;
            // min-height:850px;
            width: 90vw;
            padding-top: 5px;
            .left-child{
                height: 100%;
                width: 100%;
                flex: 1 1;
            }
            .right-child{
                height: 100%;
                width: 30%;
                margin-left: 40px;
                Button{
                    font-family: $font-family;
                    background-color:yellow;
                    color: black;
                    border: none;
                    width: 300px;
                    display: block;
                    margin:0 auto;
    
                }
            }
    
        }
    }
    .no-item{
      @include display;
      margin-top: 3rem;
    }
}