@import '../../../Global/Variable.scss';

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-detail {

    .Back-Front-btn {
        @include display;
        justify-content: space-between;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        Button {
            border: 2px solid $blue-color;
            color: $blue-color;
            margin-top: 1rem;
        }

        Button:hover {
            border: 2px solid $blue-color;
            color: $blue-color !important;
            background: transparent !important;
        }
    }

    .parentd {


        .detail-parent-wrapper {
            @include display;
            align-items: flex-start;

            .detail-wrapper {
                @include display;
                height: 700px;
                width: 1000px;

                .detail-product-image {
                    @include display;
                    flex-direction: column;
                    justify-content: space-around;
                    box-shadow: rgba(0, 0, 0, 0.1) 0.2px 1px 0px 0px;
                    height: 700px;

                    .detail-image {
                        margin: 1rem;
                        padding: 10px;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                    }

                    .small-img {
                        @include display;
                        width: 12%;

                    }

                    .detail-buttons {

                        min-width: 400px;
                        @include display;
                        justify-content: space-between;

                        .detail-btn {
                            height: 150%;
                            background: orange;
                            color: white;
                            font-size: $font-size - 5;

                        }

                        .detail-btn:hover {
                            border: none;
                        }

                        .detail-btn2 {
                            height: 150%;
                            color: white;
                            font-size: $font-size - 5;
                            background: rgb(219, 58, 18);
                        }

                        .detail-btn2:hover {
                            border: none;
                        }


                    }

                }

                .detail-product-details {
                    @include display;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
                    height: 700px;
                    width: 50%;
                    padding-left: 15px;

                    Button {
                        margin: 0.2rem;
                    }

                    h2 {
                        padding-top: 11px;
                        font-size: $font-size + 4;
                        font-family: $font-family;
                        color: $primary-color;
                    }

                    h3 {
                        color: $price-color;
                        font-size: $font-size - 4;
                    }

                    p {
                        font-size: $font-size - 5;
                        text-align: justify;
                        font-family: $font-family;
                        color: $secondary-color;
                    }

                    .offer-img {
                        @include display;
                        width: 20%;
                        justify-content: space-between;

                        .img-wrapper {
                            height: 20px;
                            width: 20px;
                            overflow: hidden;

                            .img-scroll {
                                transform: scale(1.6);
                                margin-top: 10px;
                                margin-left: 3px;
                            }
                        }

                        h4 {
                            font-family: $font-family;
                        }

                    }
                }

                p {
                    font-size: 20px;
                }
            }
        }

        h1 {
            margin-left: 30rem;
        }

        .home-men-section {
            @include display;
            justify-content: center;
            flex-wrap: wrap;
            height: 300px;
            overflow-y: auto;
            padding-top: 20px;
            padding-left: 10px;

            .home-card {
                height: 300px;
                margin: 0.3rem;
            }


        }

        .home-men-section::-webkit-scrollbar {
            display: none;
        }
    }

    .spinner {
        margin-top: 20rem;
    }
}