@import './Variable.scss';

body::-webkit-scrollbar {
    display: none;
}


@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-modal {
    @include display;
    justify-content: flex-end;
    margin-top: -1rem;
    margin-right: 2rem;

    .ant-modal-content {
        // width: 1000px;
        // font-family: $font-family;
        height: 100%;
        width: 100%;

        .ant-modal-header {
            height: 10%;
        }

        .ant-modal-body {

            height: 70%;
            width: 100%;
            // border: 2px solid navy;

        }

        .ant-modal-footer {
            height: 10%;

        }


    }

    .form {
        Button {
            width: 100%;
        }
    }
}