@import '../../../Global/Variable.scss';
@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-card-wrapper{
    @include display;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    width: 120px;
    // border: 2px solid blue;
    padding-left: 6px;
    padding-top: 3px;
    padding-bottom: 2px;
    // border: 2px solid rgb(245, 239, 239);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;   
    .offer-card-heading{
        font-size: 12px;
        font-family: $font-family;
    }
    .offer-card-description{
        font-size: 12px;
    }
    a{
        text-decoration: none;
    }
}