@import '../../Global//Variable.scss';
@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-card-wrapper {
    height: 240px;
    width: 200px;
    // margin-top: 0.3rem;
    // margin-bottom: 0.3rem;
    
    .product-card{
  
    
  .product-card-sub{
    @include display;
    justify-content: space-between;
    padding-top: 1.5rem;
    .cart-icon{
      margin-left: 8rem;
      font-size: 24px;
    }
  }
}
}