@import '../../Global//Variable.scss';
.ProductTable-wrapper{
    width: 95%;
    height: 100%;
    .ProductTable-wrapper-child{
        height: 40px;
        width: 100%;
        margin-top: 1.5rem;

        Button{
            margin-left: 85rem;
        }
       
    }
}