@import '../../Global//Variable.scss';
.ProductTable-wrapper{
    width: 95%;
    height: 100%;
    background:$primary-color;
   
    

    .ant-table-container {

        .ant-table-content {
            .ant-table-tbody {
                .ant-table-row {
                    .ant-table-cell {
                        font-family: $font-family;
                        .ant-btn {

                            background-color: rgb(228, 70, 70);
                            color: white;
                            border: none;
                        }
                    }

                }
            }

        }
    }
    .ProductTable-wrapper-child{
        height: 40px;
        width: 100%;
        margin-top: 1.5rem;

        Button{
            margin-left: 85rem;
        }
       
    }
}