@import '../../Global//Variable.scss';

@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-wrapper-container{
    @include display;
    align-items: flex-start;
    height: 99vh;
    width:100vw;
    font-family: $font-family;

    .admin-left-wrapper{
        @include display;
        flex-direction: column;
        justify-content: space-between;
        background: $primary-color;
        height: 100%;
        width: 20%;
        // border: $border;
        .admin-left-top{
            // border: $border;
            width: 90%;
            height:30%;
            .admin-logo{
                @include display;

                // border: $border;
                height: 60px; 
                h1{
                    color: $tertiary-color;
                }
            }
            .admin-items{
                @include display;
                justify-content: flex-start;
                // border: $border;
                border-radius: 10px;
                height: 40px;
                color: $tertiary-color;
                padding-left: 10px;
                scale: 1;
                width: 100%;
                border: none;
                background: none;
                h3{
                    margin-left: 1rem;
                }
            }
            .admin-items-active{
                @include display;
                justify-content: flex-start;
                border-radius: 10px;
                height: 40px;
                color: white;
                transform: scale(1.03);

                padding-left: 10px;
                scale: 1;
                width: 100%;
                border: none;
                background-color: $tertiary-color;

                h3{
                    margin-left: 1rem;
                }
            }
            .admin-items:hover{
                background-color: $tertiary-color;
                color: white;
                transform: scale(1.03);
            }
        }
        Button{
            @include display;
            color: $tertiary-color;
            width: 90%;
            border: none;
                background: none;
            // background-color: blue;
        }
        .admin-logout:hover{
            background-color: $tertiary-color;
            color: white;
            border-radius: 10px;
            // transform: scale(1.03);
        }
    }
    .admin-right-wrapper{
        @include display;
        height: 100%;
        width: 95%;
        // border: $border;
        background:$quaternary-color;
        padding-top: 5px;
      
        
    }
}