@import '../../../Global/Variable.scss';
@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;

}

.product-card-wrapper {
  @include display;
  flex-direction: column;
  justify-content: flex-start;
   height: 290px;
   width: 250px;
   margin: 0.5rem;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 10px;
  &.product-card-wrapper:hover{
    box-shadow: rgba(51, 54, 52, 0.05) 15px 15px 15px 1px;

  }
   .img-wrapper{
    @include display;
        height: 150px;
        width: 100%;
        background: rgb(241, 238, 238);
        
   }
   .details-wrapper{
  //  border: 2px solid red;
    width: 240px;
    font-family: $font-family;
    .detail-name-price{
      @include display;
      justify-content: space-between;
      h3{
        font-size: $font-size ;
      }
      h4{
        font-size: $font-size - 4;
        color: $price-color;
      }
    }
    .description{
      font-size: $font-size - 5px;
      color: rgb(32, 34, 34);
      }
   }
}