@import '../../../Global/Variable.scss';

@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;

}

.product-card-wrapper {
  @include display;
  flex-direction: column;
  justify-content: flex-start;
  height: 290px;
  width: 250px;
  margin: 0.5rem;
  // border: 0.5px solid $primary-color;
  // border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;


  &.product-card-wrapper:hover {
    box-shadow: rgba(51, 54, 52, 0.05) 15px 15px 15px 1px;
    cursor: pointer;

  }

  .img-wrapper {
    @include display;
    height: 150px;
    width: 100%;
    background:  linear-gradient(90deg, $tertiary-color 10%, $quaternary-color 90%) ;

  }

  .details-wrapper {
    width: 240px;
    font-family: $font-family;

    .detail-name-price {
      @include display;
      justify-content: space-between;

      h3 {
        font-size: $font-size;
        color: $primary-color;
      }

      h4 {
        font-size: $font-size - 4;
        color: $price-color;
      }
    }

    .description {
      font-size: $font-size - 5px;
      // color: $tertiary-color;
    }
  }
}