@import '../../Global/Variable.scss';

@mixin display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-wrapper {
    @include display;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    background: $secondary-color;

    .home-slider {
        // border: 2px solid yellow;
        margin-top: 1.5rem;
        width: 50%;
        height: 500px;

        .home-img {
            height: 400px;
            width: 100%
        }
    }

    .home-wrapper-child {
        @include display;
        height: 95%;
        width: 95%;
        // border: $border;

        .home-combine-section {
            height: 100%;
            width: 70%;
            h1{
                margin-left: 0.5rem;
                }
            .home-men-section {
                @include display;
                justify-content: flex-start;
                flex-wrap: wrap;
                height: 700px;
                overflow-y: auto;
                // border: 2px solid purple;
                padding-top: 20px;
                padding-left: 10px;

                .home-card {
                    height: 300px;
                    // border: 2px solid red;
                    margin: 0.3rem;
                }


            }

            .home-men-section::-webkit-scrollbar {
                display: none;
            }

            .home-women-section {
                height: 500px;
                // border: 2px solid green;
                @include display;
                justify-content: flex-start;
                flex-wrap: wrap;
                height: 700px;
                overflow-y: auto;
                // border: 2px solid purple;
                padding-top: 20px;
                padding-left: 10px;

                .home-card {
                    height: 300px;
                    // border: 2px solid red;
                    margin: 0.3rem;
                }



            }

            .home-women-section::-webkit-scrollbar {
                display: none;
            }
        }

        .home-children-section {
            height: 100%;
            width: 30%;
            // border: 2px solid violet;
            @include display;
            justify-content: flex-start;
            flex-wrap: wrap;
            height: 700px;
            overflow-y: auto;
            // border: 2px solid purple;
            padding-top: 20px;
            padding-left: 10px;

            .home-card {
                height: 300px;
                // border: 2px solid red;
                margin: 0.3rem;
            }
            
        }
        .home-children-section::-webkit-scrollbar {
            display: none;
        }
    }
}