@import '../../Global/Variable.scss';

@mixin display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-wrapper {
    @include display;
    flex-direction: column;
    // align-items: flex-end;
    height: 100%;
    width: 100vw;
    background: $primary-color;
  .front-btn{
    margin-left:90% ;
  }
    .home-slider {
        // border: 2px solid yellow;
        margin-top: 1.5rem;
        // margin-left: -15rem;
        width: 100%;
        height: auto;

        .home-img {
            height: 400px;
            width: 100%
        }
    }

    .home-wrapper-child {
        @include display;
        // flex-direction: column;
        height: 95%;
        width: 95%;
        // border: $border;

        .home-combine-section {
            height: 100%;
            width: 100%;
        // border: $border;
        box-shadow: rgba(50, 50, 93, 0.25) 0.5px 0px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 0px 0px;
        margin-right: 1rem;
        margin-left: 1rem;
            .seperator{
                @include display;
                justify-content: space-between;
            
            .category{
                @include display;
                justify-content: space-evenly;
                align-items: flex-start;
                width: 17%;
                .selected{
                    // background-color: #b7d7d4;
                    color: rgb(73, 73, 243);
                    border-color: rgb(73, 73, 243);
                }
            }
            .selector{
                width: 10%;
                margin-right: 0.5rem;
            }
        }

            h1 {
                margin-left: 0.5rem;
            }

            .Link {
                margin-left: 60rem;
                text-decoration: none;
            }

            .home-men-section {
                @include display;
                justify-content: flex-start;
                align-items: flex-start;
                flex-wrap: wrap;
                height: 700px;
                // border: 2px solid purple;
                padding-top: 20px;
                padding-left: 10px;

                .home-card {
                    height: 300px;
                    margin: 0.3rem;
                }


            }



            .home-women-section {
                height: 500px;
                // border: 2px solid green;
                @include display;
                justify-content: flex-start;
                flex-wrap: wrap;
                height: 700px;

                padding-top: 20px;
                padding-left: 10px;

                .home-card {
                    height: 300px;
                    margin: 0.3rem;
                }



            }


        }



    }
}