@import "../../Global/Variable.scss";

@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {

  // // position: fixed;
  // background: rgb(183,231,241);
  background: linear-gradient(90deg, rgba(63,130,251,0.6811099439775911) 23%, rgba(193,200,237,0.42620798319327735) 100%);
  .nav-main-container {
    @include display;
    justify-content: space-around;
    height: 7vh;
    width: 100vw;
    background: transparent;
    backdrop-filter: blur(100px);
    font-family: $font-family;
    color: $tertiary-color;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
    .nav-logo {
      @include display;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .company-logo{
        color:$blue-color;
        font-family: cursive;
        font-size: 20px;
        margin-left: 6rem;
      }
      .company-logo:hover{
       cursor: pointer;
      }
      p {
        color: black;
        height: 10px;
        margin: 0 !important;
        padding-left: 5rem;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
        span{
          font-size: 10px;
        }
      }

      .nav-img {
        height: 30px;
      }
    }

    .nav-search-bar {
      // border: $border;

      width: 30%;
      .ant-input{
        background-color: rgb(240,245,255);
        border: none;
      }
      .ant-btn{
        background-color: rgb(240,245,255);
        border: none;
        height: 100%;
        font-size: $font-size - 1;

      }
      .ant-input:focus {
        border-color: white;
      }
    }

    .nav-nav-items {
      // border: $border;
      @include display;
      justify-content: space-evenly;
      width: 20%;

      .nav-nav-items-child {
        @include display;
        margin: 0.3rem;

        .item-link {
          color: $blue-color;

          text-decoration: none;
          margin-left: 0.4rem;
          font-family: Roboto, Arial, sans-serif;
          font-size: $font-size - 2;
        }

        .nav-nav-item-logo {
          color: $blue-color;
        }

        .badge {

          .nav-nav-item-logo {
            margin: 0.5rem;
            color: black;
            font-size: $font-size;
          }
        }
      }
    }

    .nav-cred {
      Button{
        background: transparent;
        backdrop-filter: blur(20px);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 2px;
        border: 1px solid $blue-color;
        color: $blue-color;
      }

      // border: $border;
      .link {
        margin: 0.5rem;
        color: black;
        text-decoration: none;
      }
      .log-ava{
        @include display;
        justify-content: space-between;
        width: 100%;
        .avatar{
          @include display;
          margin: 1rem;
          font-size: $font-size;
          height: 35px;
          width: 35px;
          background-color: $blue-color;
        }
       .form{
        border: 2px solid red;
       }


      }
    }
  }
}