@import '../../Global/Variable.scss';
@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addAdmin-wrapper{
    @include display;
    // border: 2px solid $secondary-color;
    box-shadow: $box-shadow;
    height: 400px;
    
    .addAdmin-Form{
        padding-left: 20px;
  
    }
 
}