@import '../../../Global/Variable.scss';

@mixin display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrapper {
    position: relative;
    min-height: 900px;
    @include display;
    flex-direction: column;
    justify-content: flex-start;

    .Back-Front-btn {
        @include display;
        justify-content: space-between;
        width: 90%;
        // border: 2px solid black;
        margin-left: auto;
        margin-right: auto;

        Button {
            border: 2px solid$blue-color;
            color: $blue-color;
            margin-top: 1rem;
        }

        Button:hover {
            border: 2px solid $blue-color;
            color: $blue-color !important;
            background: transparent !important;
        }
    }

    .no-item {
        margin-top: 20%;
    }

    .search {
        @include display;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        height: 70%;
        width: 90vw;
        background-color: rgb(249, 255, 255);
        padding: 30px;
        padding-left: 50px;
    }

    .pagination {

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%)
    }
}