@import '../../Global/Variable.scss';


@mixin display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-wrapper{
    @include display;
        height: 100vh;
        width: 100vw;
background-image: url('https://img.freepik.com/free-photo/sales-with-paper-bags-concept-with-copy-space_23-2148305932.jpg?w=1480&t=st=1690810820~exp=1690811420~hmac=191f20efe6ed0af3fc697adab8adc32e6fcefa449f4da6083710bd462d3299c2');
        // border: 2px solid green;
        background-repeat: no-repeat;
background-size: cover;
        .register-form-wrapper{
            // background: transparent;
            @include display;
            padding-top: 15px;
            height: 750px;
            width: 900px;
            box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
            img{
                height: 100%;
                width: 50%;
            }
            .register-form{
                height: 100%;
                width: 50%;
                // border: 2px solid purple;
            }
        }
}