@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CartPrice-wrapper{
    margin-top: 5rem;
    .CartPrice-Card{
        height: 480px;
        width: 300px;
        margin: 0.5rem auto;
        h3{
           text-align: center;
        }
        .item{
            @include display;
            justify-content: space-between;
        }
        Button{
            margin-left: 15rem;
            margin-top: 2rem;
            
        }
    }
}