@import '../../Global//Variable.scss';
@mixin display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    height: 100vh;
    width: 100vw;
    background-image: url('https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg?size=626&ext=jpg&uid=R109346766&ga=GA1.1.1517963016.1688116260&semt=sph');
    background-repeat: no-repeat;
    background-size: cover;
    @include display;
    flex-direction: column;

    .login-title{
     text-align: center;
     font-family: $font-family;
     font-size: 30px;
    }
    .login-box {
        @include display;
        height: 450px;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
        border-radius: 10px;
        background: transparent;
        backdrop-filter: blur(20px);
        .image-section{
            width: 50%;
            img{
                height: 320px;
            }
        }
        .form-container{
            height: 100%;
            width: 50%;

            // border: 2px solid red;
            .login-Form{
                .ant-form-item-control-input{
                    width: 230px;
                    .ant-input{
                        
                        background: transparent;
                    }
                    .ant-input-affix-wrapper{
                        background: transparent;

                    }
                }
                Button{
                    width: 100%;
                    margin-left: -5rem;
                    // margin-top: 3rem;
                }
                .logos{
                    @include display;
                    justify-content: space-evenly;
                    Button{
                        margin-left: -0.5rem;
                        width: 94%;
                    }
                    .logo{
                        font-size: 30px;
                        color:rgb(83, 132, 223)
                    }
                }
                .link{
                    margin-left: 4rem;
                }
            }
        }
    }

}