@import '../../../Global/Variable.scss';

@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CartCard-wrapper{
    padding: 22px;
    .CartCard{
        height: 200px;
        width: 100%;
        // border: 2px solid rgb(214, 11, 45);
        border: none;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
        .ant-card-body{
            @include display;

            .CartCart-left {
                @include display;
                height: 150px;
                width: 15%;
                // border: 2px solid pink;
                // border-radius: 30px;
                // box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 0px, rgba(0, 0, 0, 0.1) 2px 2px 1px 0px;
                position: relative; 
            
            
            // .CartCard-img {
            //     // height: 100%;
            //     // width: 100%; 
            //     object-fit: cover;
            //     position: absolute; 
            //     top: 0;
            //     left: 0;
            // }
        }
            .CartCart-right{
                margin-left: 2rem;
                height: 150px;
                width: 85%;
                // border: 2px solid yellowgreen;
                p{
                    // background-color: green;
                    height: 20%;
                }
                h3{
                    margin-top: 0rem;
                }
                h4{
                    color: $price-color;
                }
                .count-delete{
                    @include display;
                    justify-content: space-between;
                    .delete{
                        color: red;
                        font-size: 20px;
                    }
                }
    
            }
        }
        

    }
}