@import '../../../Global/Variable.scss';

@mixin display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.CartCard-wrapper{
    padding: 22px;
    .CartCard{
        height: 200px;
        width: 100%;
        // border: 2px solid rgb(214, 11, 45);
        border: none;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
        .ant-card-body{
            @include display;
            padding-top: 2px;

            .CartCart-left {
                @include display;
                height: 150px;
                width: 15%;
                position: relative; 
                
                
            }
            .CartCart-left:hover{
               cursor: pointer;
           }
            .CartCart-right{
                margin-left: 2rem;
                height: 150px;
                width: 85%;
                // border: 2px solid yellowgreen;
                p{
                    // background-color: green;
                    height: 20%;
                    font-size: $font-size - 4;
                    font-family: $font-family;
                }
                h3{
                    margin-top: 0rem;
                    font-size: $font-size - 4;
                    font-family: $font-family;

                }
                h3:hover{
                    cursor: pointer;
                }
                h4{
                    color: $price-color;
                    font-size: $font-size - 4;
                    padding-bottom: 2px !important;
                }
                .count-delete{
                    @include display;
                    justify-content: space-between;
                    Button{
                        margin: 0.2rem;
                    }
                    .delete{
                        color: red;
                        font-size: $font-size;
                    }
                }
    
            }
        }
        

    }
}